.bar-section {
  position: relative;
  padding-top: 150px;

  .bar-header-outer-wrapper {
    position: relative;

    &:before {
      content: "";
      display: block;
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 100%;

      background-image: asset-url("bar/bar-triangle.svg");
      background-position: left bottom;
      background-repeat: no-repeat;
    }
  }

  .bar-header-wrapper {
    position: relative;
    @include outer-container();

  }

  .bar-header {
    position: relative;
    @include outer-container();
    width: 260px;
    height: 575px;
    padding: 0 20px;
    padding-top: 100px;
    margin: 0;
    // @include clearfix();

    .title {
      font-size: 3.5em;
      text-transform: uppercase;
    }

    .tagline {
      font-size: 1.5em;
    }
  }

  .cover-image {
    // @include shift(3);
    // @include span-columns(12);
    position: absolute;
    top: 0;
    height: 575px;
    min-width: 100vw;
    left: 260px;
    object-fit: contain;
    object-position: left;
  }

  .content-wrapper {
    background-color: #cdebe3;
    width: 100%;
    padding-top: 40px;
  }
  .content {
    @include outer-container();
  }
}


.opening-hours-list {
  margin: 0;
  padding: 0;
  @include outer-container;
  @include span-columns(12);
  float: none;
  @include clearfix();

  .week-days,
  .weekend-days {
    width: 100%;
    text-align: center;
    @include clearfix();
  }
  .day {
    @include span-columns(3);
    float: none;
    display: inline-block;
    width: 100px;
    text-align: center;
    padding: 20px 0;
    opacity: 0.5;


    &.today {
      background-image: asset-url('today-bg.png');
      opacity: 1;
    }

    &.closed {
      .info {
        color: rgba(0, 0, 0, .5);
      }
    }

    .label {
      text-transform: uppercase;
    }

    .info {
      font-style: italic;
    }
  }
}

.menu-card {
  @include outer-container;
  padding: 40px 20px;

  img {
    // @include span-columns(12);
    display: block;
    max-width: 100%;
    margin: 0 auto;
  }
}
