.workshops-section {
  .workshops-header-wrapper {
    background-image: asset-url('backgrounds/congruent_pentagon_pattern.png');
  }

  .workshops-header {
    @include outer-container();
    @include span-columns(6);
    @include shift(3);
    padding-top: 100px;
    padding-bottom: 100px;
    float: none;

    .description {
      font-family: $lato;
      font-size: 1.2em;
    }
  }


  .type-filters {
    border-radius: 6px;
    border: 1px solid #62e091;
    overflow: hidden;
    position: relative;
    width: auto;
    float: left;
    clear: both;
    @include clearfix();

    button {
      @include transition(all 300ms);
      display: block;
      float: left;
      border: 0;
      background-color: white;
      padding: 15px;
      border-right: 1px solid #62e091;
      text-transform: uppercase;
      font-family: $nexa_bold;
      outline: none;

      &:last-child {
        border: 0;
      }

      &.active:hover,
      &.active {
        background-color: #62e091;
      }

      &:hover {
        background-color: rgba(98, 224, 145, 0.5)
      }
    }
  }

  .filter-group {
    display: block;
    position: relative;
    float: left;
    clear: both;
    @include clearfix;
    padding-top: 20px;

    .subtitle {
      margin-top: 10px;
      margin-bottom: 5px;
      font-style: italic;
      color: rgba(0, 0, 0, 0.5);
    }

    .filter-item {
      float: left;
      border: 1px solid white;
      border-radius: 3px;
      padding: 5px 10px;
      margin-right: 5px;
      margin-bottom: 5px;
      color: black;
      text-transform: uppercase;
      background-color: white;
      outline: none;

      &:last-child {
        margin-right: 0;
      }

      &.active:hover,
      &.active {
        background-color: #62e091;
      }

      &:hover {
        background-color: rgba(98, 224, 145, 0.5)
      }
    }
  }


  .workshops-list {
    height: auto;
    @include clearfix;
  }

  .workshop-item {
    position: relative;
    display: block;
    text-decoration: none;
    @include calc(width, "100vw/3");
    @include calc(height, "100vw/3");


    &:hover {
      .title {
        padding-bottom: 60px;
      }

      .tags {
        bottom: 90px;
        opacity: 1;
      }

      // &:after {
      //   height: 70%;
      // }
    }

    .cover-image {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    &:first-child {
      margin-left: 0;
    }

    &:after {
      @include transition(all 300ms);
      content: "";
      position: absolute;
      bottom: 0;
      height: 50%;
      width: 100%;
      @include linear-gradient(transparent, rgba(0, 0, 0, 0.4));
    }

    .title {
      position: relative;
      padding-bottom: 30px;
      @include transform(translateY(-100%));
      @include transition(all 400ms);
      z-index: 1;

      color: white;
      font-size: 1.2em;
      font-family: $nexa_bold;
      text-decoration: none;
      text-align: center;
    }

    .tags {
      position: absolute;
      bottom: 0px;
      padding: 0 10px;
      width: 100%;
      color: white;
      display: block;
      left: 50%;
      opacity: 0;
      z-index: 1;

      @include transform(translateX(-50%));
      @include transition(all 400ms);
    }

    .tags-wrapper {
      @include clearfix;
      float: left;
      left: 50%;
      position: relative;
      transform: translateX(-50%);
    }

    .tag-item {
      display: block;
      float: left;
      color: rgba(0, 0, 0, 0.8);
      border: 1px solid white;
      border-radius: 6px;
      padding: 4px 8px;
      margin-right: 4px;
      margin-bottom: 4px;
      background-color: white;
      opacity: 0.8;
    }
  }
}

.workshop-section {

  .workshop-header {
    position: relative;
    width: 100%;
    height: 400px;

    .workshop-header-wrapper {
      @include outer-container();
    }

    .tags {
      position: absolute;
      padding: 10px 20px;
      width: 100%;
      bottom: 0;
      float: left;
      color: rgba(255, 255, 255, 0.8);

      .tag-item {
        display: block;
        // margin-left: 5px;
        margin-bottom: 5px;
        float: left;
        font-style: italic;
        text-transform: uppercase;

        &:first-child {
          margin-left: 0;

          &:before {
            display: none;
          }
        }

        &:before {
          content: ',';
          position: relative;
          padding-left: 2px;
          padding-right: 10px;
        }

        &:hover {
          text-decoration: underline;
        }
      }
    }

    .cover-image {
      position: relative;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .content {
    @include outer-container();
    padding: 20px;
  }

  .worskhop-information {
    padding: 10px 0 40px 0;

    @include media($tablet-portrait) {
      @include span-columns(6);
    }

    .title {
      margin: 0;
    }

    .description {
      font-size: 1.2em;
      line-height: 1.5em;
    }

    .tags,
    .audiences {
      @include clearfix();
    }

    .type {
      font-size: 1.2em;
      // font-style: italic;
      color: #ccc;
    }
  }

  .workshop-request-form {
    @include media($tablet-portrait) {
      @include span-columns(6);
    }

    label {
      display: block;
    }

    input,
    textarea {
      line-height: normal;
      border: 0;
      border-bottom: 1px solid #ccc;
      padding: 7px 5px;
      background-color: whitesmoke;
      margin-top: 5px;
      width: 100%;
    }

    .form-group {
      margin-bottom: 10px;
    }

    .validation-errors {
      background-color: rgb(255, 229, 209);
      padding: 10px 20px;
      list-style-position: inside;

      &.hidden {
        display: none;
      }

      .error {
        padding: 5px 20px 5px 0px;
      }
    }
  }

  .success {
    padding: 10px;
    background-color: rgb(219, 243, 188);
    margin: 10px 0 20px;

    &.hidden {
      display: none;
    }
  }
}
