.workspace-section {
  @include outer-container();
  padding-top: 200px;

  .gallery {
    @include span-columns(6);

    .image {
      width: 100%;
      display: block;
      margin-bottom: 20px;
    }
  }


  .content {
    @include span-columns(6);
    position: fixed;
    left: 50%;
    padding: 0 0 0 40px;
    font-size: 1.2em;
    line-height: 1.5em;
  }

  .title {
    margin-top: 20px;
  }
}
