<nav class='main-navigation'>
  <button class='btn-close'>
    <img src="./assets/images/icons/cross.svg" alt="" class="js-svg-inject icon">
  </button>

  <div class='social'>
    <a class="link-social" href="https://www.facebook.com/ProjectArtuur">
      <img src="./assets/images/icons/facebook.svg" class='js-svg-inject' alt="">
    </a>

    <a class="link-social" href="http://instagram.com">
      <img src="./assets/images/icons/instagram.svg" class='js-svg-inject' alt="">
    </a>
  </div>
</nav>
<button class='nav-toggle'>
  <img src="./assets/images/nav-toggle.svg" alt="">
</button>


{{outlet}}