<section class="section expo-section">
  <div class="content-wrapper">
    <h1 class="title">Expo</h1>

    <div class="description">
      <p>
        Ons volledige gebouw doet dienst als expositieruimte voor jonge artiesten. Het decor wisselt regelmatig van setting, zodat het publiek steeds door nieuwe creatievelingen verrast kan worden!
      </p>
      <p>
        Wil je meer informatie hierover? Of wil je graag jouw werken bij ons tentoon stellen? Stuur dan een mailtje naar:
        <a href="mailto:lieke@projectartuur.be">lieke@projectartuur.be</a>
      </p>

    </div>
  </div>
</section>