<nav class='social-navigation'>
  <a class="link-social" href="https://www.facebook.com/ProjectArtuur">
    <img src="./assets/images/icons/facebook.svg" class='js-svg-inject' alt="">
  </a>

  <a class="link-social" href="http://instagram.com">
    <img src="./assets/images/icons/instagram.svg" class='js-svg-inject' alt="">
  </a>
</nav>

<section class='section start-section'>
  <div class='content'>

    <nav class='quick-nav'>
      <ul>
        <li>
          {{#link-to 'workshops'}}
            <span class="label">Workshops</span>
            <span class="description">voor jong en oud, lekker creatief wezen</span>
          {{/link-to}}
        </li>
        <li>
          {{#link-to 'bar'}}
            <span class="label">Bar</span>
            <span class="description">Zoet? schuimig? Vooral gezellig</span>
          {{/link-to}}
        </li>
        <li>
          {{#link-to 'expo'}}
            <span class="label">Expo</span>
            <span class="description"></span>
          {{/link-to}}
        </li>
        <li>
          {{#link-to 'workspace'}}
            <span class="label">Workspace</span>
            <span class="description"></span>
          {{/link-to}}
        </li>
      </ul>
    </nav>

    <div class='about'>
      <div class='intro'>
        <p>Wij zijn Lieke en Neeltje, twee Lommelse dames die genieten van elke vorm van kunst & cultuur en deze passie willen we graag met jullie delen. Daarom richtten we Artuur op, een creatief project voor en door jongeren. Het is ons doel om zo veel mogelijk jongeren actief te laten deelnemen aan en genieten van kunst en cultuur.</p>
        <p>
          We doen dit door drie pijlers te integreren in ons project, namelijk:
          <ul>
            <li>een bar/café</li>
            <li>een expo/creatieve werkruimte</li>
            <li>workshops</li>
          </ul>
        </p>
        <p>Verder delen we op onze website graag verhalen otver jonge kunstenaars, inspirerende plekken, boeken & films, musea & tentoonstellingen, maar bovenal willen we jullie inspireren om zelf creatief aan de slag te gaan!</p>
      </div>
      <div class='about about-lieke'>
        <div class='profile-picture'>
          <img src="./assets/images/profile/Lieke.png" alt="Lieke">
        </div>
        <div class='about-content'>
          <h2 class='title'>Lieke</h2>
          <p>Lieke is interieurvormgeefster, geniet van het maken van illustraties en grafische ontwerpen maar geniet bovenal van creatievelingen die zichzelf engageren om aan de slag te gaan!</p>
          <p>Zelfontwikkeling en zelfbewust zijn is cruciaal en zij wil daarom iedereen inspireren om zichzelf te uiten in eender welke cultuur - en kunstvorm!</p>
          <p>
            Lieke is verantwoordelijk voor de exporuimte/shop, voor informatie of vragen hierover kan je mailen naar:
            <a href='mailto:lieke@projectartuur.be'>lieke@projectartuur.be</a>
          </p>
        </div>
      </div>
      <div class='about about-neeltje'>
        <div class='profile-picture'>
          <img src="./assets/images/profile/Neeltje.png" alt="Neeltje">
        </div>
        <div class='about-content'>
          <h2 class='title'>Neeltje</h2>
          <p>Neeltje is communicatiewetenschapper en sociaal cultureel werker, zij gelooft in de vormende kracht van kunst en cultuur en maakt er haar missie van om iedereen te laten proeven van verschillende kunstvormen.</p>
          <p>
            Neeltje is verantwoordelijk voor de workshops, voor meer info mag je mailen naar:
            <a href='mailto:neeltje@projectartuur.be'>neeltje@projectartuur.be</a>
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
