<section class="section workspace-section">
  <div class="gallery">
    <img src="./assets/images/workspace/workspace-4.jpg" class="image">
    <img src="./assets/images/workspace/workspace-1.jpg" class="image">
    <img src="./assets/images/workspace/workspace-2.jpg" class="image">
    <img src="./assets/images/workspace/workspace-3.jpg" class="image">
  </div>

  <div class="content">
    <h1 class="title">Workspace</h1>
    <p>Onze atelierruimte is een plaats om helemaal je ding te doen! We gaan voor een combinatie van creativiteit en werken, met als doel een kleine creatieve en interactieve gemeenschap te vormen.</p>

    <p>
      Werk je van thuis uit maar heb je soms nood aan een nieuwe inspirerende ruimte of sociale interactie?
      <br>
      Werk je in een team of heb je een groepswerk voor school en wil je een gezellige plaats om samen te komen?
      <br>
      Wil je graag een brainstorm houden in een creatieve omgeving?
    </p>

    <p>Dan ben je meer dan welkom in onze workspace!</p>
    <p>We voorzien elektriciteit en internet voor laptops/tablets en stellen creatief materiaal zoals kleurboeken, potloden en papier ter beschikking!</p>
  </div>
</section>