<section class="section workshops-section">
  <div class="workshops-header-wrapper">
    <div class="workshops-header">
      <h1 class="title">Workshops</h1>

      <div class="description">
        <p>We organiseren educatieve en culturele workshops binnen verschillende disciplines, zowel in huis als op aanvraag.</p>

        <p>
          <strong>Workshops in huis</strong>
          worden op vaste tijdstippen door Artuur ingericht, iedereen is vrij om zich hiervoor in te schrijven en deel te nemen!
          <br>
          <strong>Workshops op aanvraag</strong>
          reserveer je op voorhand en dienen enkel voor grotere groepen.
        </p>

        <p>Maak hieronder je keuze en ontdek ons aanbod!</p>
      </div>

      <div class="type-filters">
        <button class="type-filter" data-filter="type-all">Allemaal</button>
        <button class="type-filter" data-filter="type-in-house">In huis</button>
        <button class="type-filter" data-filter="type-on-request">Op aanvraag</button>
      </div>

      <div class="tag-filters filter-group">
        <div class="subtitle">Soort workshop</div>
        {{!-- - @tags.each do |tag|
          %button.filter-item{data: {filter: "tag-#{tag.id}"}}= tag.name --}}
      </div>
      <div class="audience-filters filter-group">
        <div class="subtitle">Doelgroep</div>
        {{!-- - @audiences.each do |audience|
          %button.filter-item{data: {filter: "audience-#{audience.id}"}}= audience.name.dasherize --}}
      </div>
    </div>




    <div class="workshops-list">
      {{!-- - @workshops.each do |workshop|
        = link_to workshop_url(workshop.id), {class: workshop_class(workshop)} do
          = image_tag workshop.cover_image.url(:medium), class: 'cover-image'
          %h3.title= workshop.title
          .tags
            .tags-wrapper
              - tags = workshop.tags + workshop.audiences
              - tags.each do |tag|
                .tag-item= tag.name.upcase --}}
    </div>

  </div>
</section>